
/* static/style2.css */
/* Basic styling for body */
body {
background-image: url('images/background.jpg');
/* Adjust how the image is displayed */
background-size: cover; /* Makes the image cover the entire background */
background-repeat: no-repeat; /* Prevents the image from repeating */
background-position: left; /* Centers the image horizontally and vertically */
background-size: 50%;
/* Set a fallback background color in case the image doesn't load or cover the entire area */
background-color: #d1c8c8;
}
/* Styling for headers */
h1 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
}

/* Styling for main */
main {
    color: rgb(0, 0, 0);
}

/* Styling for buttons */
button {
    background-color: #000000;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}
button:hover {  /* pseudo-class is used to apply styles to an element, if i move mouse over the button it changes style*/
    background-color: #ff0000;
    color: #000000;
}

/* Style for the Cancel button */
.cancel-button {
    display: inline-block;
    padding: 2px 24px;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 0px;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
}

.cancel-button:hover {  /* pseudo-class is used to apply styles to an element, if i move mouse over the button it changes style*/
    background-color: #09ff00;
    color: #000000;
}

/*Styling for footer */
footer {
    /*background-color: #ffffff;*/
    color: rgb(0, 0, 0);
    text-align: left;
    padding: 10px 20px;
}
