
/* static/css/style1.css */
/* Basic styling for header */
.body {
    background-image: url('static/images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    padding: 100px;
}

/* Styling for post titles */
.post-title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* Styling for buttons */
.button {
    background-color: #4CAF50;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
}