<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel = "stylesheet" href = "{% static 'MyBlog/blog/static/style1.css' %}">
    <title>Ragnar Blog</title>
</head>
<body>
    <header>
        <h1>Ragnar Blog</h1>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        &copy; 2023 Ragnar Blog
    </footer>
</body>
</html>